## Converting From int

In [ ]:
a=3
float(3)

3.0

In [2]:
str(3)

'3'

In [3]:
bool(3)

True

In [4]:
list(3)

TypeError: 'int' object is not iterable

In [5]:
set(3)

TypeError: 'int' object is not iterable

In [6]:
tuple(3)

TypeError: 'int' object is not iterable

In [7]:
dict(3)

TypeError: 'int' object is not iterable

## Converting From float

In [8]:
b=3.2
int(b)

3

In [9]:
str(b)

'3.2'

In [10]:
bool(b)

True

In [11]:
list(b)

TypeError: 'float' object is not iterable

In [12]:
set(b)

TypeError: 'float' object is not iterable

In [13]:
tuple(b)

TypeError: 'float' object is not iterable

In [14]:
dict(b)

TypeError: 'float' object is not iterable

## Converting From str

In [15]:
string_c="power"
int(string_c)

ValueError: invalid literal for int() with base 10: 'power'

In [16]:
string_a="10"
int(string_a)

10

In [18]:
string_a="10.9"
int(string_a)

ValueError: invalid literal for int() with base 10: '10.9'

In [17]:
string_b="10.9"
float(string_b)

10.9

In [19]:
float(string_c)

ValueError: could not convert string to float: 'power'

In [20]:
bool(string_c)

True

In [21]:
list(string_c)

['p', 'o', 'w', 'e', 'r']

In [22]:
tuple(string_c)

('p', 'o', 'w', 'e', 'r')

In [23]:
set(string_c)

{'e', 'o', 'p', 'r', 'w'}

In [25]:
dict(string_c)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

## converting from list

In [ ]:
a=[1,2,3,4]
int(a)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
float(a)

TypeError: float() argument must be a string or a real number, not 'list'

In [ ]:
str(a)

'[1, 2, 3, 4]'

In [ ]:
bool(a)

True

In [ ]:
tuple(a)

(1, 2, 3, 4)

In [ ]:
set(a)

{1, 2, 3, 4}

In [41]:
dict(a)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

## Converting from tuple

In [42]:
a=(1,2,3,4)
int(a)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

In [34]:
float(a)

TypeError: float() argument must be a string or a real number, not 'tuple'

In [35]:
str(a)

'(1, 2, 3, 4)'

In [36]:
bool(a)

True

In [46]:
a=(1,2,3,4)
print(list(a))

[1, 2, 3, 4]

In [47]:
print(set(a))

{1, 2, 3, 4}

In [48]:
print(dict(a))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

## Converting to set

In [49]:
set_e={3,4,5,6}
int(set_e)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'set'

In [50]:
float(set_e)

TypeError: float() argument must be a string or a real number, not 'set'

In [51]:
str(set_e)

'{3, 4, 5, 6}'

In [52]:
bool(set_e)

True

In [53]:
list(set_e)

[3, 4, 5, 6]

In [54]:
tuple(set_e)

(3, 4, 5, 6)

In [55]:
dict(set_e)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

## Converting from dict

In [57]:
dict_g={1:1,2:4,3:9}
int(dict_g)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'dict'

In [59]:
float(dict_g)

TypeError: float() argument must be a string or a real number, not 'dict'

In [60]:
str(dict_g)

'{1: 1, 2: 4, 3: 9}'

In [61]:
bool(dict_g)

True

In [62]:
list(dict_g)

[1, 2, 3]

In [63]:
tuple(dict_g)

(1, 2, 3)

In [64]:
set(dict_g)

{1, 2, 3}

## Convering from bool

In [65]:
int(False)

0

In [66]:
int(True)

1

In [67]:
float(True)

1.0

In [68]:
float(False)

0.0

In [69]:
str(False)

'False'

In [70]:
list(False)

TypeError: 'bool' object is not iterable

In [71]:
tuple(False)

TypeError: 'bool' object is not iterable

In [72]:
set(False)

TypeError: 'bool' object is not iterable

In [73]:
dict(False)

TypeError: 'bool' object is not iterable

In [76]:
d=[("name","sanjay"),("age","21"),("skills","python")]
dict(d)

{'name': 'sanjay', 'age': '21', 'skills': 'python'}